.card-header {
    margin-bottom: 16px;
}

.div-saldo-total{
    text-align: center;
}

.card-body {
    display: flex;
    justify-content: space-around;
}

.card-grafico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.receitas, .despesas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receitas-conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.despesas-conteudo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.botao-receita{
    background-color: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-right: 8px; 
}

.botao-despesa {
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    margin-right: 8px; 
}

.botao-receita fa-icon {
    font-size: 25px;
    color: white;
}

.botao-despesa fa-icon {
    font-size: 20px;
    color: white;
}

.valor-receitas {
    color: green;
}

.valor-despesas {
    color: red;
}


.data-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; 
}

.setinha {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

.setinha:first-child {
    margin-right: 10px;
}

.setinha:last-child {
    margin-left: 10px;
}

.data-mes {
    margin-left: 20px; 
}

.estado-atual{
    font-weight: bold;
}

.tipo-transacao {
    margin-bottom: 0rem;
}

.data-completa {
    display: inline;
}

.data-reduzida {
    display: none;
}

@media (max-width: 768px) {
    
    .data-nav {
        font-size: 14px; 
    }

    .setinha {
        font-size: 12px;
        padding: 2px;
    }

    .data-completa {
        display: none;
    }

    .data-reduzida {
        display: inline;
    }

    .div-saldo-total {
        margin-top: 10px;
    }

    /* cad body */
    .card-body {
        display: block;
    }

    .receitas, .despesas {
        width: 100%; 
        margin-bottom: 16px; 
    }

    .receitas:last-child, .despesas:last-child {
        margin-bottom: 0;
    }

    .rodape-home {
        background-color: transparent !important;
    }
}


